section{
    display: grid;
    gap: 20px;
    justify-content: center;
    
}

.header-img img{
    margin-top: 150px;
    width: 100%;
}

.body-text{
    margin: auto;
    text-align: justify;
    width: 80%;
}

@media only screen and (min-width:920px){
    .header-img img{
        width: 60%;
    }
    .content-section{
        display: flex;
        width: 100%;
    }
    .body-text{
        width: 40%;
    }
}